<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>17/10/17 00:35:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult)[pri:0, instance:com.springernature.qatask.SearchTest@2638011]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@57497692</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>17/10/17 00:36:13</td>   <td>25728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult)[pri:0, instance:com.springernature.qatask.SearchTest@2638011]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@57497692</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>17/10/17 00:35:34</td>   <td>-12942</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeClassSetup()[pri:0, instance:com.springernature.qatask.SearchTest@2638011]">&gt;&gt;beforeClassSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@57497692</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>17/10/17 00:35:42</td>   <td>-5207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.searchInvalidTerm_Test()[pri:0, instance:com.springernature.qatask.SearchTest@2638011]">searchInvalidTerm_Test</td> 
  <td>main@57497692</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>17/10/17 00:35:55</td>   <td>8292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.searchValidTerm_Test()[pri:0, instance:com.springernature.qatask.SearchTest@2638011]">searchValidTerm_Test</td> 
  <td>main@57497692</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>17/10/17 00:35:34</td>   <td>-12928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:com.springernature.qatask.SearchTest@2638011]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@57497692</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>17/10/17 00:35:47</td>   <td>435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:com.springernature.qatask.SearchTest@2638011]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@57497692</td>   <td></td> </tr>
</table>
